<ng-container *ngIf="personData$ | async as personData">
  <md-card>
    <md-card-title>Person details</md-card-title>
    <md-card-subtitle>Total addresses: {{(person$ | async)?.totalAddresses}}</md-card-subtitle>
    <md-card-content>
      <app-person-form #personForm (valid)="handleValid($event)" [person]="personData"></app-person-form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" [disabled]="!(valid$ | async)" (click)="handleSubmit(personForm.person)">
          <md-icon>edit</md-icon>
          <span>Update!</span>
        </button>
        <button md-raised-button color="accent" (click)="goBack()">
          <md-icon>undo</md-icon>
          <span>Back</span>
        </button>
        <!-- local/persons/:id/addresses -->
        <a md-raised-button color="primary" routerLink="addresses">
          <md-icon>list</md-icon>
          <span>Addresses</span>
        </a>
    </md-card-actions>
  </md-card>
  <router-outlet></router-outlet>
</ng-container>