<table *ngIf="!isEmpty; else hasData">
  <thead>
    <th>Actions</th>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
  </thead>
  <tbody>
    <tr *ngFor="let person of data">
      <td>
        <button (click)="triggerDelete(person)">Delete</button>
        <button (click)="triggerSelect(person)">Details</button>
      </td>
      <td>{{person.id}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.dateOfBirth}}</td>
    </tr>
  </tbody>
</table>
<ng-template #hasData>
  <p>No data present</p>
</ng-template>